*.class

# Package Files #
*.jar
*.war
*.ear

.idea

*.iml
.project
.classpath
.settings


logs

.vagrant

data/elasticsearch
/.apt_generated

.classpath
.factorypath
.project

target/
/node_modules
/src/main/webapp/js/bookmarklet/bookmarklet.min.js
/src/main/webapp/js/bookmarklet/sendToRemindIt_all.min.js
/.tmp
